.header{
    background: linear-gradient(0.25turn, rgba(255, 114, 94, 0.75), #ebf8e1, #f69d3c);
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    align-items: center;
}

.header_nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:2rem
}
@media (max-width: 420px) {
    .header{
        background: rgba(255, 114, 94, 0.75) ;
    }

    .mobile_nav {
        margin: 0.5rem 0;
        height: 3px;
        width: 30px;
        background-color: #ffffff;
        position: relative;
        cursor: pointer;

    }

    .mobile_nav::before,
    .mobile_nav::after {
        content: '';
        position: absolute;
        left: 0;
        height: 3px;
        width: 30px;
        background-color: #ffffff;
        transition: transform 0.3s;
    }

    .mobile_nav::before {
        top: 6px;
        transform-origin: center;
    }

    .mobile_nav::after {
        top: -6px;
        transform-origin: center;
    }
    .mobile_nav.clicked{
        background-color: transparent;
    }
    .mobile_nav.clicked::before {
        top:0;
        transform: rotate(45deg);
    }

    .mobile_nav.clicked::after {
        top: 0;
        transform: rotate(-45deg);
    }
    .header_nav{
        display: none;
    }
    .header_nav_mobile{
        background-color: rgba(246, 157, 60, 1);
        position: absolute;
        top: 40px;
        right: 0;
        display: flex;
        gap:1.5rem;
        flex-direction: column;
        padding: 3rem 1rem 3rem 2rem;
        z-index: 5;
        max-width: 14rem;
        border-radius: 0 0 0 3rem;
    }
    .back{
        width: 100vh;
        height: calc(100vh - 40px);
        background-color: rgba(0, 0, 0, 0.53);
        position: absolute;
        left: 0;
        top:40px;
        z-index:3
    }
}

.header_nav__item{
    font-size: 1.2rem;
    position: relative;
    cursor: pointer;
}
.header_nav__item::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: left;
    transition: scale 0.25s;
}
.header_nav__item:hover::before{
    scale: 1;
}
.no_active_nav{
    text-decoration: none;
    color: #3a3a3a;
}

.active{
    text-decoration: none;
    color: white;
}