.holder{
    position: relative;
}
.selected{
    background-color: #ffffff;
    padding: 0.5rem 2rem 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    align-items: center;
    display: flex;
    gap:1rem;
    max-width: 8rem;
    position: relative;
    border-color: rgba(255, 255, 255, 0);
    outline: none;
}
.selected_wrapper{
    position: relative;
}
.selected_wrapper> img{
    max-width: 20px;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
}
.options{
    position: absolute;
    left: -5rem;
    top: 5rem;
    font-size: 1.3rem;
    max-height: 40vh;
    overflow: scroll;
    background-color: white;
    z-index: 3;
    width: 300%;
    border-radius: 1rem;
}
.option_item{
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: 1px solid rgba(250, 128, 114, 0.35);
}

.triangle::before {
    content: "";
    position: absolute;
    top: 4rem;
    left: 2rem;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #fffffe;
}
@media (max-width: 550px) {
    .options {
        left: -3rem;
        font-size: 1rem;
        height: 35vh;
        width: 180%;
    }

}