
@font-face {
  font-family: 'JetBrains Mono', monospace;
  src: url("./fonts/JetBrainsMono-VariableFont_wght.ttf");
}

html {
  font-size: 16px;
}

@media (max-width: 1000px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 780px) {
  html {
    font-size: 12px;
  }
}
body, *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --index: calc(1vh + 1vw);
}

